@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Bangers';
	src: url('/bangers.regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
